<div class="banner">
    <div class="container">
        <div class="row">
            <div class="mx-auto mt-5 text-white">
                <div class="mt-5 text-principal text-center">
                    <h1>USD</h1>
                    <P>DOLAR COMERCIAL</P>
                    <h2>$5.90</h2>
                </div>
                <div class="card mt-5">
                    <div class="card-body">
                        <h4 class="card-title">Contato</h4>
                        <p class="card-text">Entre em contato para mais informações</p>
                        <a href="#" class="btn btn-white">Button</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>